.form-control {
    box-shadow: 0 0 3px #646568;
}

.titulo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.shadow {
  box-shadow: 3px 3px lightgray;
}

.buttons {
  margin-top: 20px;
  margin-left: 20px;
}
