.form-control {
    box-shadow: 0 0 3px #646568;
}

.titulo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.shadow {
  box-shadow: 3px 3px lightgray;
}

.buttons {
  margin-top: 20px;
  margin-left: 20px;
}

#loading {
  position: absolute;
  margin-left: 40%;
  z-index: 2;
}

#over_loading {
  position: absolute;
  width: 99%;
  height: 90%;
  z-index: 1;
  opacity:.6;
	background-color: #FFFFFF;
}
